# Dependencies
node_modules/

# Prettier cache
.prettier_cache

# Optional: Ignore environment variables (passwords/API keys)
.env

# Optional: Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*